/target/
/scripts/
/warm/
/cold/
WixTools
ubuntu-22.04.2-desktop-amd64.iso
bitcoin-25.0-x86_64-linux-gnu.tar.gz
bitcoin-28.0-x86_64-linux-gnu.tar.gz
persistent-ubuntu.iso
scripts/persistent-ubuntu.iso
persistent-ubuntu1.iso
wget-log
pid.txt
config.txt
ssss_0.5-5_amd64.deb
wodim_9%3a1.1.11-3.2ubuntu1_amd64.deb
genisoimage_9%3a1.1.11-3.2ubuntu1_amd64.deb
libqrencode4_4.1.1-1_amd64.deb
qrencode_4.1.1-1_amd64.deb
xclip_0.13-2_amd64.deb
tor_0.4.6.10-1_amd64.deb
zbar-tools_0.23.92-4build2_amd64.deb
libzbar0_0.23.92-4build2_amd64.deb
libmagickwand-6.q16-6_8%3a6.9.11.60+dfsg-1.3ubuntu0.22.04.3_amd64.deb
imagemagick-6-common_8%3a6.9.11.60+dfsg-1.3ubuntu0.22.04.3_all.deb
libmagickcore-6.q16-6_8%3a6.9.11.60+dfsg-1.3ubuntu0.22.04.3_amd64.deb
libheif1_1.12.0-2build1_amd64.deb
liblqr-1-0_0.4.2-2.1_amd64.deb
libaom3_3.3.0-1_amd64.deb
libdav1d5_0.9.2-1_amd64.deb
libde265-0_1.0.8-1_amd64.deb
libx265-199_3.5-2_amd64.deb
update.sh
push_binary.sh
.DS_Store
